@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.togglebtn {
  display: flex;
  align-items: center;
}

.rera {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: normal;
  font-size: 1.2rem;
}

.affluence-title {
  margin: 0 0 15px 0;
  padding: 0;
}

.block-legende .inferieur,
.block-legende .milieu,
.block-legende .superieur {
  position: relative;
  margin-right: 40px;
}

.block-legende .inferieur{
  margin-left: 20px;
}

.inferieur p,
.milieu p,
.superieur p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 0.9rem;
}

.inferieur p span {
  color: #fbd256;
}

.milieu p span {
  color: #f0842c;
}
.superieur p span {
  color: #a31700;
}

.inferieur::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  background-color: #fbd256;
  width: 10px;
  height: 10px;
}

.milieu::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  background-color: #f0842c;
  width: 10px;
  height: 10px;
}

.superieur::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  background-color: #a31700;
  width: 10px;
  height: 10px;
}

.hoverGare {
  z-index: 9999;
  color: black;
  position: absolute;
  bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  transition: all 0.5s ease;
  overflow: hidden;
  height: 0;
}

.marker:hover > .hoverGare {
  display: block;
  height: 270px;
  padding-bottom: 50px;
}

.container-card-img {
  position: relative;
}

.container-card-img img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hoverGare p {
  font-size: 1.4rem;
}

li span {
  position: relative;
  top: -20px;
  left: -45px;
  color: black;
}

.dateHover {
  position: absolute;
  background: #b2d1ff;
  z-index: 999;
  width: 200px;
  text-align: center;
  color: white;
  margin-top: 20%;
  border-radius: 10px;
  padding: 10%;
}

.invisible {
  display: none;
}

.current {
  color: #0e90d2;
}

.block-legende {
  font-weight: bolder;
}
