.progress {
    width: 80%;
    margin: 30px auto;
    display: table;
    position: relative;
    text-align: center;
  }
  .progress ul {
    display: table-row;
  }
  .progress ul li {
    background-color: #b2d1ff; /* Default Bar Color */
    display: table-cell;
    position: relative;
    line-height: 5px;
    z-index: 0;
    color: black;
    text-align: left;
    transition: background-color 0.75s, color 0.5s;
    cursor: pointer;
  }
  .progress ul li::before {
    cursor: pointer;
    content: "";
    width: 15px;
    height: 15px;
    line-height: 30px;
    text-align: center;
    left: -10px;
    background-color: #ffffff; /* Default Circle Color */
    border: solid 2px rgb(152, 199, 218); /* Default Circle Color */
    position: absolute;
    display: block;
    top: -4px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
  
    transition: background-color 0.75s, color 0.5s;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  /* COMPLETED STEPS */
  .progress ul li.complete {
    background-color: #0e90d2; /* Completed Step Bar Color */
    transition: background-color 0.75s, color 0.5s;
  }
  .progress ul li.complete::before {
    background-color: #0e90d2; /* Completed Step Circle Color */
    border: 5px solid transparent;
    transition: background-color 0.75s, color 0.5s;
  }
  
  .progress ul li:last-of-type{
      background-color: transparent;
  }
  
  .progress ul li.complete:last-of-type{
      background-color: transparent;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
    }
    100% {
      -webkit-transform: scale(1, 1);
    }
  }
  
  li span {
    position: relative;
    top: -20px;
    left: -45px;
    color:black;
  }
  
  .dateHover {
    position: absolute;
    background: #b2d1ff;
    z-index: 999;
    width: 200px;
    text-align: center;
    color: white;
    margin-top: 20%;
    border-radius: 10px;
    padding: 10%;
  }
  
  .invisible{
      display: none;
  }

  .current{
     color: #0e90d2;
  }

  .div-legende {
    font-weight: bolder;
  }
