.Map {
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.modal-aide{
  position: absolute;
  margin:auto;
  top: 25%;
  left: 0;
  right: 0;
  width: 50%;
  background-color: white;
  z-index: 99999;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  padding: 10px 20px;
  animation: slidein 0.5s;
}

.modal-aide button{
  position: absolute;
  top: 5px;
  right: 2px;
  outline: none;
  background-color: transparent;
  border:none;
  cursor: pointer;
}

@keyframes slidein {
  from {
    transform: translateY(-100px);
    opacity:0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


/* STYLE MAP BUTTON */
.container-button-style-map {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}


.container-button-style-map button {
  outline: none;
  border: none;
  width: 70px;
  height: 70px;
}

.container-aide-style-map {
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 999;
}

.container-aide-style-map button {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
}

.btn-map-style1 button{
  background-image: url('../assets/style2.png');
  background-size: cover;
  background-position: center;
}

.btn-map-style2 button{
  margin-top: 20px;
  background-image: url('../assets/style1.png');
  background-size: cover;
  background-position: center;
}

/* end */

.container-legende {
  position: absolute;
  z-index: 0;
  bottom: 3%;
  right: 7%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.block-bar {
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 70%;
  height: 0%;
}

.block-legende {
  background-color: rgba(255, 255, 255, 1);
  width: 23%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 15px 20px 15px 20px;
}

/* toggle button */


input[type="checkbox"].switch  {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #00B0F2;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
	width: 47px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div {
	width: 47px;
	height: 24px;
}


input[type="checkbox"].switch:checked + div {
	background-color: #57BB00;
}

input[type="checkbox"].switch + div > div {
	float: left;
	width: 25px; height: 25px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 0px;
	margin-left: 0px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.07);
}

input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

input[type="checkbox"].bigswitch.switch + div > div {
	width: 22px;
	height: 22px;
	margin-top: 0.5px;
}


input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(23px, 0, 0);
	transform: translate3d(23px, 0, 0);
}


/* animatins */

.spinner {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.ouro {
  position: absolute;
  left: 45%;
  top: 45%;
  height: 46px;
  width: 46px;
  margin: 1em;
  border-radius: 50%;
  background: none repeat scroll 0 0 #dddddd;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
}

.ouro:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  height: 28px;
  width: 28px;
  background: none repeat scroll 0 0 #f2f2f2;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ouro > span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}

.anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 #508ec3;
  opacity: 0.8;
  -webkit-animation: ui-spinner-rotate-left 3s infinite;
  animation: ui-spinner-rotate-left 3s infinite;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}

@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*
 * Some bugs with Chrome (Android), Safari and Opera, I'll try to see how http://atomeye.com/projects/sass-css-spinner.html made his code.
 */
